<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">New recipe</h1>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Back', recipes_path, class: 'btn btn-default' %>
