<% if notice %>
  <div id="notice" class="well bg-info">
    <%= notice %>
  </div>
<% end %>

<%= react_component('Recipe', ActiveModel::SerializableResource.new(@recipe).serializable_hash[:data]) %>

<div class="row">
  <p class="six columns">
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: 'btn btn-info' %>
    <%= link_to 'Back', recipes_path, class: 'btn btn-default' %>
  </p>
</div>

