<h2 id="title">Welcome to Ember</h2>

{{#link-to "list-ingredients"}}Ingredients{{/link-to}}
{{#link-to "list-concoction-types"}}Concoction Types{{/link-to}}
{{#link-to "list-recipes"}}Recipes{{/link-to}}

{{outlet}}
