<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concoction_type.name %>
</p>

<%= link_to 'Edit', edit_concoction_type_path(@concoction_type) %> |
<%= link_to 'Back', concoction_types_path %>
